/** COLORS **/



body {
    background-color: $background-color;
} 

.heading {
    color: $primary-color;
}

.intro {
    background-color: $grey;
    opacity: 0.8
}

a {
    color: $primary-link;
}

.subtitle {
    color: $keywords;
}

