$primary-font-family: 'RobotoMono-Thin';

$icomoon-font-family: "portfolio-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-home: "\e900";
$icon-files-empty: "\e925";
$icon-file-text: "\e926";
$icon-folder-plus: "\e931";
$icon-folder-download: "\e933";
$icon-phone: "\e942";
$icon-phone-hang-up: "\e943";
$icon-envelop: "\e945";
$icon-printer: "\e954";
$icon-keyboard: "\e955";
$icon-desktop: "\e956";
$icon-mobile: "\e958";
$icon-mobile2: "\e959";
$icon-save: "\e962";
$icon-undo: "\e965";
$icon-redo: "\e966";
$icon-chat-bubble: "\e96b";
$icon-chat-bubble-hollow: "\e96e";
$icon-zoom-in: "\e987";
$icon-equalizer: "\e992";
$icon-stats-dots: "\e99b";
$icon-trophy: "\e99e";
$icon-gift: "\e99f";
$icon-briefcase: "\e9ae";
$icon-tree: "\e9bc";
$icon-download2: "\e9c5";
$icon-sphere: "\e9c9";
$icon-heart: "\e9da";
$icon-woman: "\e9dd";
$icon-happy: "\e9df";
$icon-point-up: "\ea03";
$icon-point-right: "\ea04";
$icon-point-down: "\ea05";
$icon-point-left: "\ea06";
$icon-question: "\ea09";
$icon-info: "\ea0c";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-checkmark2: "\ea11";
$icon-arrow-up-left: "\ea39";
$icon-arrow-up: "\ea3a";
$icon-arrow-up-right: "\ea3b";
$icon-arrow-right: "\ea3c";
$icon-arrow-down-right: "\ea3d";
$icon-arrow-down: "\ea3e";
$icon-arrow-down-left: "\ea3f";
$icon-arrow-left: "\ea40";
$icon-circle-up: "\ea41";
$icon-circle-right: "\ea42";
$icon-circle-down: "\ea43";
$icon-circle-left: "\ea44";
$icon-indent-increase: "\ea7b";
$icon-embed: "\ea80";
$icon-terminal: "\ea81";
$icon-mail2: "\ea84";
$icon-amazon: "\ea87";
$icon-google-plus: "\ea8b";
$icon-facebook: "\ea90";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-whatsapp: "\ea93";
$icon-twitter: "\ea96";
$icon-github: "\eab0";
$icon-linkedin: "\eac9";
$icon-linkedin2: "\eaca";
$icon-git: "\eae7";
$icon-codepen: "\eae8";

