@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
@import '//styles/base/variables';
@import '//styles/base/variables';
@import '//styles/base/variables';
@import '//styles/base/variables';
@import '//styles/base/variables';
@import '//styles/base/variables';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

h1 {
  font-size: 6rem;
  margin: 0px;
  font-weight: 600;
}

h2 {
  font-size: 60px;
  font-weight: 500;
  color: #442c2e;
  padding: 0.5em;
}

h3 {
  color: #442c2e;
}

p {
  font-size: 1.2em;
}

.subtitle {
  font-size: 40px;
  color: #442c2e;
}

.subtext {
  font-size: 1em;
  color: #b7a1b6;
  margin-top: 0;
}

.btn {
  display: inline-block;
  border: none;
  color: #442c2e;
  text-decoration: none;
  background-color: #fedbd0;
  padding: 15px 45px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  transition: #feeae6 0.2s ease-in;
  cursor: pointer;
}
.btn::after {
  transition: #feeae6 0.3s ease-out;
  position: absolute;
  content: "";
  height: 4px;
  bottom: 0;
  width: 100%;
  background-color: #cb3404;
  opacity: 0.18;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 0;
}
.btn:focus, .btn:hover {
  text-decoration: none;
  color: #ffffff;
}
.btn:hover {
  background-color: #fdc8b7;
}
.btn::after {
  opacity: 0.22;
}
.btn:active {
  background-color: #fdc8b7;
}
.btn::after {
  opacity: 0.32;
}

.btn a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.btn a:hover {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.burger {
  background-color: transparent;
  display: block;
  margin: 0.5em;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #442c2e;
}

.burger:focus {
  outline: none;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (min-width: 750px) {
  .burger {
    display: none;
    cursor: pointer;
  }
}
.headshot-img {
  height: 330px;
  width: 300px;
  border-radius: 75%;
  padding: 10px;
}

@media (min-width: 750px) {
  .headshot-img {
    height: 430px;
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .headshot-img {
    height: 530px;
    width: 500px;
  }
}
a {
  text-decoration: none;
  color: #b7a1b6;
  display: inline-block;
  transition-duration: 0.3s;
  padding: 5px;
}

a:hover {
  color: #ffffff;
  background-color: #fca285;
}

ul {
  list-style-type: none;
  padding: 0;
}

.top-link {
  margin-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  color: #442c2e;
}

.nav-link:hover {
  color: #c7a8ab;
  background-color: #fedbd0;
}

.no-style {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.no-style:hover {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.socials {
  padding-bottom: 200px;
}
.socials div {
  margin: 10px;
}
.socials div a {
  color: #442c2e;
  text-decoration: none;
}

footer {
  background-color: #442c2e;
  font-size: 1rem;
  color: #ffffff;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-around;
}

.footer__contact-item {
  display: flex;
  justify-content: start;
}

.label {
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}

.info {
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 1em;
}

.info a {
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.info a:hover {
  color: #c7a8ab;
  background-color: #fedbd0;
}

.github,
.twitter,
.linkedin {
  font-size: 18px;
}

@media only screen and (min-width: 750px) {
  .footer__contact {
    display: flex;
    justify-content: space-around;
  }
  .footer__socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .github,
.twitter,
.linkedin {
    font-size: 24px;
  }
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: #feeae6;
}

.logo {
  display: none;
}

.hero-nav {
  display: flex;
  align-items: flex-end;
  background-color: #feeae6;
}
.hero-nav ul {
  display: none;
  list-style: none;
  background-color: transparent;
}
.hero-nav ul li {
  text-decoration: none;
  font-size: 1.6rem;
}
.hero-nav ul li:first-child {
  margin-top: 0;
}
.hero-nav ul li:nth-child(4) {
  margin-bottom: 1rem;
}

ul.active {
  display: block;
}

@media only screen and (min-width: 500px) {
  .navbar {
    justify-content: space-between;
    background-color: #fedbd0;
  }
  .hero-nav {
    background-color: #fedbd0;
  }
  .logo {
    display: block;
    margin: 0.5em;
  }
  ul {
    background-color: #fedbd0;
  }
  li {
    background-color: #fedbd0;
  }
}
@media screen and (min-width: 750px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    margin-left: 0.875em;
  }
  .hero-nav {
    flex-direction: row;
  }
  .hero-nav ul {
    display: flex;
    flex-direction: row;
  }
  .hero-nav ul li {
    margin-left: 1.6rem;
  }
  .hero-nav ul li:nth-child(4) {
    margin-right: 1rem;
  }
}
.center {
  display: flex;
  justify-content: center;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subsection-container {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 40px;
}
@media only screen and (min-width: 750px) {
  .subsection-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

.subsection p {
  margin-top: 1em;
}

.headshot-container {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 750px) and (max-width: 875) {
  .headshot-container {
    align-items: start;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 876px) {
  .headshot-container {
    align-items: center;
    padding-bottom: 40px;
  }
}

section {
  width: 100%;
  background-color: #ffffff;
}

.hero {
  background-color: #fedbd0;
  color: #442c2e;
  height: 100vh;
  font-size: 40px;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 40px;
  margin-bottom: 200px;
}
.hero-text p {
  margin: 0;
  font-weight: 300;
}

@media screen and (max-width: 750px) {
  .socials {
    display: none;
  }
}
.work {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #feeae6;
}
.work h3 {
  margin-bottom: 0;
}
.work p {
  margin: 10px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.project-card {
  width: 400px;
  height: 500px;
  box-shadow: 1px 1px 2px #b7a1b6;
  margin-bottom: 20px;
}

.project-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #442c2e;
  margin: 10px;
}

@media screen and (min-width: 1150px) {
  .project-container {
    flex-direction: row;
    align-items: flex-start;
  }
  .project-card {
    width: 400px;
    height: 500px;
  }
}
.resume {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #ffffff;
}

.resume-container {
  max-width: 1000px;
  background: #ffffff;
  margin: 0px auto 0px;
  border-radius: 3px;
  padding: 40px;
  margin-top: 50px;
}

.resume .header {
  margin-bottom: 30px;
}
.resume .header .full-name {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.resume .header .first-name {
  font-weight: 700;
  color: #fedbd0;
}
.resume .header .last-name {
  font-weight: 300;
  color: #fedbd0;
}

.contact-info {
  margin-bottom: 20px;
}

.email,
.phone {
  color: #b7a1b6;
  font-weight: 300;
}

.separator {
  height: 10px;
  display: inline-block;
  border-left: 2px solid #b7a1b6;
  margin: 0px 10px;
}

.title {
  font-weight: 300;
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
  text-decoration: underline;
}

.details {
  line-height: 20px;
}

.section {
  margin-bottom: 40px;
}

.section:last-of-type {
  margin-bottom: 0px;
}

.section__title {
  letter-spacing: 2px;
  color: #442c2e;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}

.section__list-item {
  margin-bottom: 40px;
}

.section__list-item:last-of-type {
  margin-bottom: 0;
}

.left,
.right,
center {
  vertical-align: top;
  display: inline-block;
}

.left {
  width: 90%;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .left {
    width: 60%;
    text-align: left;
  }
}

.right {
  width: 90%;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .right {
    text-align: right;
    width: 39%;
  }
}

.center {
  text-align: justify;
  width: 90%;
}

.name {
  font-weight: bold;
}

.addr,
.duration,
.gpa {
  color: #b7a1b6;
  font-style: italic;
}

.skills_item {
  margin-bottom: 10px;
}

.skills_item .right input {
  display: none;
}
.skills_item .right .skills_item > .name:hover {
  transform: scale(1.5);
}
.skills_item .right label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fedbd0;
  border-radius: 20px;
  margin-right: 3px;
}
.skills_item .right input:checked + label {
  background: #442c2e;
}

.contact {
  background-color: #feeae6;
  color: #442c2e;
}

/*# sourceMappingURL=main.css.map */
